.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 24px 80px 24px 80px;
  gap: 10px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.logo {
  font-weight: 900;
  font-size: 38px;
  line-height: 44.61px;
  letter-spacing: 3%;
  text-align: center;
  background: linear-gradient(to right, #0096ff, #0048ff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dropdown {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
  text-align: center;
  justify-content: center;
}

.btn {
  padding: 10px 42px 10px 42px;
  border-radius: 52px;
  gap: 10px;
  background: linear-gradient(to right, #0048ff, #0096ff);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
}
